.form
  &__caption
    margin: 0
    margin-bottom: 20px

  &__submit
    display: block
    box-sizing: border-box
    height: 32px
    border-radius: 5px
    padding: 5px
    border: 1px solid $table-border
    background-color: $tr
    cursor: pointer
    color: $text
    float: right
