.container {
    margin: 0 50px;
}

.fields {
    margin-bottom: 50px;
}

.fields__item {
    margin-bottom: 15px;
}

.fields__label {
    display: block;
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 5px;
    color: #3c7c91;
}

.fields__title,
.result__title {
    margin: 0;
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 20px;
    color: #3c7c91;
}

.result__title {
    text-align: center;
}

.fields__input {
    display: block;
    border: 1px solid #7fa4a1;
    padding: 5px;
    border-radius: 5px;
    color: #3d654e;
}

.fields__submit {
    display: block;
    box-sizing: border-box;
    border-radius: 5px;
    padding: 5px;
    border: 1px solid #7fa4a1;
    background-color: #7fa4a1;
    cursor: pointer;
    color: #ffffff;
}

.table {
    border: 1px solid #7fa4a1;
    border-radius: 5px;
    width: 100%;
    margin-bottom: 20px;
}

.table th {
    text-align: center;
    font-weight: 700;
    font-size: 12px;
    padding: 5px;
    background: #efefef;
    border: 1px solid #dddddd;
    color: #3c7c91;
}

.table td {
    color: #3d654e;
    font-size: 10px;
    font-weight: 500;
    padding: 5px;
    border: 1px solid #eee;
    text-align: center;
}

.table a {
    text-decoration: none;
    color: #3c7c91;
}

.table tr:nth-child(odd) {
    background: #fff;
}

.table tr:nth-child(even) {
    background: #f7f7f7;
}
