.container {
    margin: 0 50px;
}

.fields {
    margin-bottom: 50px;
}

.fields__item {
    margin-bottom: 15px;
}

.fields__label {
    display: block;
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 5px;
    color: #3c7c91;
}

.fields__header {
    display: flex;
    align-items: center;
    column-gap: 20px;
}

.fields__form {
    display: flex;
    column-gap: 20px;
    align-items: center;
}

.fields__title,
.result__title {
    margin: 0;
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 20px;
    color: #3c7c91;
}

.result__title {
    text-align: center;
}

.fields__input {
    display: block;
    box-sizing: border-box;
    border: 1px solid #7fa4a1;
    padding: 5px;
    border-radius: 5px;
    color: #3d654e;
    height: 30px;
}

.fields__submit {
    display: block;
    box-sizing: border-box;
    height: 32px;
    border-radius: 5px;
    padding: 5px;
    border: 1px solid #7fa4a1;
    background-color: #7fa4a1;
    cursor: pointer;
    color: #ffffff;
}

.fields__img {
    width: 25px;
    margin-bottom: 20px;
}

.table {
    border: 1px solid #7fa4a1;
    border-radius: 5px;
    width: 100%;
    margin-bottom: 20px;
}

.table th {
    text-align: center;
    font-weight: 700;
    font-size: 18px;
    padding: 5px;
    background: #a6a6a6;
    border: 1px solid #dddddd;
    color: #323232;
}

.table td {
    color: #3d654e;
    font-size: 16px;
    font-weight: 500;
    padding: 5px;
    border: 1px solid #eee;
    max-width: 120px;
    word-wrap: break-word;
}

.table a {
    text-decoration: none;
    color: #1b7998;
    font-weight: 600;
}

.table tr:nth-child(odd) {
    background: #f2f2f2;
}

.table tr:nth-child(even) {
    background: #ffffff;
}

.table .btn {
    display: block;
    box-sizing: border-box;
    margin: 5px;
    padding: 5px 10px;
    background-color: rgb(74, 81, 200);
    color: #ffffff;
    border-radius: 5px;
    font-size: 16px;
}

.alert {
    padding: 10px 0;
    margin-bottom: 10px;
    color: rgb(6, 143, 26);
    font-size: 18px;
}
